// Styling for the call to action section
section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url('../img/bg-pattern.png');

    background-position: center,$theme-primary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to right, $theme-primary, $theme-tertiary);
    background: url('../img/bg-pattern.png'), linear-gradient(to right, $theme-primary, $theme-tertiary);
    .cta-content {
        position: relative;
        z-index: 1;
        h2 {
            font-size: 50px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: black;
        }
        @media (min-width: 768px) {
            h2 {
                font-size: 70px;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(black, .5);
    }
}