//Styling for the Impressum
body{

.impressum {
  a {
    color: blue;
    @include transition-all;
    &:hover,
    &:focus {
      color: darken(blue, 10%);
    }
  }


  position: relative;

  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;

  color: black;
  background: url('../img/bg-pattern.png'), $theme-primary;
  background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-primary, $theme-tertiary);
  background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-primary, $theme-tertiary);

  }
}